@{
    ViewData["Title"] = "Medical Records | Admin";
    Layout = "_Layout";
}

@model RudyHealthCare.Blueprints.Patients.PatientsMedicalRecordsBlueprint

@* @model RudyHealthCare.Models.Patients.PatientsModel *@

<section class="wrapper">
    <aside id="sidebar" class="rounded-end-4">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>

            <div class="sidebar-logo">
                <a href="">Gidion Farma</a>
            </div>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a asp-controller="Admin" asp-action="Dashboard" class="sidebar-link">
                    <i class="lni lni-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a asp-controller="Admin" asp-action="Queues" class="sidebar-link">
                    <i class="lni lni-layers"></i>
                    <span>Antrian</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a asp-controller="Admin" asp-action="Profile" class="sidebar-link">
                    <i class="lni lni-smile"></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a asp-controller="" asp-action="" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>

    <div class="main p-3">
        <div class="text-start mx-5 my-5">
            <h3
                class="mb-5 fs-3 fw-bold main-font-color justify-content-center align-items-center d-flex text-uppercase">
                Rekam Medis Pasien</h3>

            <div class="my-3">
                <form id="MedicalRecordsUpdate" asp-controller="Admin" asp-action="MedicalRecords">
                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Identitas Diri</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Nama Lengkap</p>

                                    <input type="text" asp-for="Name" class="form-control rounded-5 custom-input"
                                        placeholder="Masukan nama lengkap">

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Name"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 d-flex justify-content-end">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Nomor KTP / NIK</p>

                                    <input type="number" asp-for="IdentityNumber"
                                        class="form-control rounded-5 custom-input"
                                        placeholder="Nomor Induk Kependudukan (NIK)">

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="IdentityNumber"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 d-flex justify-content-end mt-3">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Tempat Lahir</p>

                                    <input type="text" asp-for="PlaceOfBirth"
                                        class="form-control rounded-5 custom-input" placeholder="Tempat lahir">

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="PlaceOfBirth"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 d-flex justify-content-end mt-3">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Tanggal Lahir</p>

                                    <input type="text" asp-for="DateOfBirth" class="form-control rounded-5 custom-input"
                                        onfocus="(this.type='date')" onblur="(this.type='text')"
                                        placeholder="Tanggal lahir">

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="DateOfBirth"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 d-flex justify-content-end mt-3">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Umur</p>

                                    <input type="number" asp-for="Age" class="form-control rounded-5 custom-input"
                                        min="1" placeholder="Umur">

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Age"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Jenis Kelamin</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="Laki-Laki">

                                        <label class="form-check-label" for="Laki-Laki">Laki-Laki</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="Perempuan">

                                        <label class="form-check-label" for="Perempuan">Perempuan</label>
                                    </div>

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Gender"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Alamat</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <input type="text" asp-for="Address" class="form-control rounded-5 custom-input"
                                        placeholder="Alamat lengkap">

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Address"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Kontak Pribadi</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Email</p>

                                    <input type="email" asp-for="Email" class="form-control rounded-5 custom-input"
                                        placeholder="Masukan email">

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Email"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Nomor Handphone</p>

                                    <input type="number" asp-for="PhoneNumber"
                                        class="form-control rounded-5 custom-input" placeholder="Masukan no HP">

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Status & Pekerjaan</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Status</p>

                                    <select class="form-select rounded-5 custom-input" asp-for="Status"
                                        aria-label="Default select example">
                                        <option selected disabled>Masukan status</option>
                                        <option>Lajang</option>
                                        <option>Menikah</option>
                                    </select>

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Status"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Pekerjaan</p>

                                    <input type="text" asp-for="Profession" class="form-control rounded-5 custom-input"
                                        placeholder="Masukan pekerjaan">

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="Profession"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Data Antrian</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="col-12 col-md-6 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Nomor Antrian</p>

                                    <input type="text" asp-for="QueueNumber" class="form-control rounded-5 custom-input"
                                        placeholder="Nomor Antrian" readonly>

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="QueueNumber"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 d-flex justify-content-end">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Tanggal Registrasi</p>

                                    <input type="text" asp-for="DateOfRegistration"
                                        class="form-control rounded-5 custom-input" placeholder="Tanggal registrasi"
                                        readonly>

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="DateOfRegistration"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mt-3 mb-md-0 d-flex justify-content-start">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Status Antrian</p>

                                    <select class="form-select rounded-5 custom-input" asp-for="QueueStatus"
                                        aria-label="Default select example">
                                        <option selected>Antri</option>
                                        <option>Diterima</option>
                                        <option>Ditolak</option>
                                    </select>

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="QueueStatus"></span>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mt-3 d-flex justify-content-end">
                                <div class="col-12 col-md-12">
                                    <p class="lead fw-normal fs-6 main-font-color">Waktu Registrasi</p>

                                    <input type="text" asp-for="TimeOfRegistration"
                                        class="form-control rounded-5 custom-input" placeholder="Waktu registrasi"
                                        readonly>

                                    <span class="lead fw-light text-danger fs-6"
                                        asp-validation-for="TimeOfRegistration"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-start">
                            <h6 class="text-start fw-bold fs-5">Keluhan Sakit</h6>
                        </div>

                        <div class="row input-container d-flex align-items-center mt-3">
                            <div class="">
                                <textarea class="form-control rounded-4 custom-input no-resize"
                                    asp-for="ComplaintsOfPain" rows="5" placeholder="Keluhan pasien"></textarea>

                                <span class="lead fw-light text-danger fs-6"
                                    asp-validation-for="ComplaintsOfPain"></span>
                            </div>
                        </div>
                    </div>

                    @if (User.IsInRole("Doctor"))
                    {
                        <div class="mt-4">
                            <div class="d-flex justify-content-start">
                                <h6 class="text-start fw-bold fs-5">Hasil Diagnosa</h6>
                            </div>

                            <div class="row input-container d-flex align-items-center mt-3">
                                <div class="">
                                    <textarea class="form-control rounded-4 custom-input no-resize" asp-for="DiagnoseResult"
                                        rows="8" placeholder="Hasil diagnosa dokter"></textarea>

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="DiagnoseResult"></span>
                                </div>
                            </div>
                        </div>
                    }
                    else if (User.IsInRole("Nurse"))
                    {
                        <div class="mt-4">
                            <div class="row d-flex justify-content-start">
                                <h6 class="text-start fw-bold fs-5">Hasil Diagnosa</h6>

                                <p class="lead fw-normal fs-6 text-warning">Hanya bisa di edit oleh Dokter</p>
                            </div>

                            <div class="row input-container d-flex align-items-center mt-3">
                                <div class="">
                                    <textarea class="form-control rounded-4 custom-input no-resize" asp-for="DiagnoseResult"
                                        rows="8" placeholder="Hasil diagnosa dokter" readonly></textarea>

                                    <span class="lead fw-light text-danger fs-6" asp-validation-for="DiagnoseResult"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="d-flex justify-content-end mt-4">
                        <a type="submit" asp-controller="Admin" asp-action="Dashboard"
                            class="me-3 btn btn-danger rounded-5 shadow-lg text-white h-auto w-25">Back</a>

                        <button type="submit"
                            class="btn btn btn-primary rounded-5 border-0 shadow-lg w-25 h-auto custom-gradient-btn text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="~/js/action.js"></script>
}